:root {
  --color-primary-deco: #090;
  --color-primary-heading: #080;
  --color-primary-copy: #070;
  --color-action: #00f;
  --color-foreground: #000;
  --color-background: #fff;
  --baseline: 1.5rem;
  --logo-size: 6rem;
  --font-copy: Georgia, serif;
  --font-gui: Consolas, Inconsolata, Menlo, monospace;
}

body {
  margin: 0;
  padding: 0 1.5rem;
  color: var(--color-foreground);
  background: var(--color-background);
  font: 1rem/1.5 var(--font-copy);
}

body > header {
  padding: var(--baseline) 0;
}

main {
  padding: 0 0 calc(var(--baseline) * 2);
}

body > footer {
  border-top: 2px solid var(--color-primary-deco);
  padding: calc(var(--baseline) / 2) 0;
}

/* GUI */

body > header,
body > aside,
body > footer {
  font-family: var(--font-gui);
}

body > footer a[href] {
  color: var(--color-primary-copy);
  background: transparent;
  text-decoration: none;
  font-weight: bold;
}

body > footer a[href]:hover {
  outline: none;
  border-bottom: 1px solid var(--color-primary-copy);
  color: var(--color-action);
  background: transparent;
}

body > footer a[href="#main"] {
  color: var(--color-foreground);
  font-weight: normal;
}

/* logo */

#logo {
  display: block;
  transition: color 300ms ease;
  color: var(--color-primary-deco);
  background: transparent;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.1rem;
}

#logo:hover,
#logo:focus {
  color: var(--color-foreground);
}

#logo .logomark {
  width: var(--logo-size);
  height: var(--logo-size);
}

#logo .logotype {
  width: 100%;
  height: 10vw;
}

/* body copy */

main h1 {
  margin: 0 0 calc(var(--baseline) * 2) 0;
  border-bottom: 2px solid var(--color-primary-deco);
  color: var(--color-primary-heading);
  background: transparent;
  text-align: right;
  font-size: 2em;
  font-weight: normal;
}

main h2 {
  margin: 1.5rem 0 0;
  font-weight: normal;
  font-size: 1.3em;
}

main h3 {
  margin: 1.5em 0 0;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}

main p {
  margin: 0;
}

main p + p {
  text-indent: var(--baseline);
}

main ul {
  margin: var(--baseline) 0;
  padding: 0;
}

main a[href] {
  border-bottom: 2px solid var(--color-primary-deco);
  color: var(--color-action);
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-gui);
}

main a[href]:hover {
  outline: none;
  border-width: 1px;
  border-color: var(--color-action);
  color: var(--color-primary-copy);
  background: transparent;
}

main a[href]:focus:hover {
  outline: none;
  border-width: 1px;
}

a[href]:focus {
  border-width: 0;
  outline: 2px solid var(--color-action);
  outline-offset: 0.2rem;
  color: var(--color-foreground);
  background: transparent;
}

/* hyperlinks */

@media only screen and (min-width: 601px) {
  html {
    overflow-y: scroll;
  }

  body {
    max-width: 48rem;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas:
      "banner"
      "main"
      "contentinfo";
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 calc((var(--logo-size) / 2) + var(--baseline));
    font: 1.3rem/1.5 var(--font-copy);
  }

  /* grid areas */

  body > header {
    grid-area: banner;
    padding: var(--baseline) 0;
  }

  main {
    grid-area: main;
    padding: 0 0 calc(var(--baseline) * 2);
  }

  body > footer {
    grid-area: contentinfo;
    border-top: 2px solid #090;
    padding: calc(var(--baseline) / 2) 0;
  }

  #logo {
    position: relative;
    left: calc((var(--logo-size) / 2) * -1);
    display: inline-flex;
    vertical-align: bottom;
  }

  #logo .logomark-placeholder {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: var(--color-primary);
  }

  #logo .logotype {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: var(--logo-size);
    margin: 0 0 0 var(--baseline);
  }

  #logo .logotype .logotype-placeholder {
    position: relative;
    left: -0.1rem;
    letter-spacing: 0.025rem;
  }

  #logo .logotype .logotype-placeholder span {
    color: var(--color-foreground);
    background: transparent;
  }
}
